.home__header {
  margin: 3rem 15rem;

  &__nav {
    display: flex;
    background: var(--primary-light);
    justify-content: space-between;

    .logo > a > img {
      height: 6rem;
      width: 6rem;
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;

      & > .right__container {
        gap: 5rem;
        list-style: none;

        display: flex;
        flex-direction: row;
      }
    }
  }
}

.hero {
  //display: flex;
  //align-content: center;
  //justify-content: center;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;

  &__content {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60%;

    &__title {
      font-size: 4rem;
      line-height: 1.1;
      font-weight: 800;
      margin-bottom: 1.5rem;

      & .text-gradient {
        background: linear-gradient(135deg, #818cf8 0%, #c084fc 100%);
        display: inline-block;
        padding: 0.15em 0.5em;

        clip-path: polygon(10% 0%, 100% 0%, 90% 90%, 0% 90%);
      }
    }

    &__subtitle {
      padding-top: 1rem;
      font-size: 1.6rem;
      color: lighten(black, 50%);
    }
  }
}
