.home__header {
  @media (max-width: 768px) {
    margin: 0;
    padding: 0;
  }
  padding: 5px;
  background-color: white;
  &__nav {
    display: flex;
    //background: var(--primary-light);
    justify-content: space-between;

    margin: 0 10rem;
    @media (max-width: 768px) {
      margin: 0;
    }

    .logo {
      & > a > img {
        height: 6rem;
        width: 6rem;
      }
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;

      & > .right__container {
        gap: 5rem;
        list-style: none;

        display: flex;
        flex-direction: row;
        font-size: 2.5rem;
        align-items: center;

        .right__container--points {
          display: flex;
          flex-direction: column;
        }

        .right__container--point {
          color: var(--success);
          font-size: 2.6rem;

          @media (max-width: 768px) {
            font-size: 1.5rem;
          }
        }

        @media (max-width: 768px) {
          font-size: 1.5rem;
          gap: 1.2rem;
        }

        .right__container--pfp {
          & img {
            width: 3rem;
            height: 3rem;
          }
          &--dropdown {
            position: absolute;
            right: 5px;
            z-index: 2;

            @media (max-width: 768px) {
              top: 7rem;
            }
          }
        }
      }
    }
  }
}

.dropdown__container {
  list-style: none;
  margin-right: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 1.5rem;
  background-color: rgb(255, 255, 255);

  &--list {
    //background-color: rgb(255, 255, 255);
    width: 160px;
    display: flex;
    height: 30px;
    align-items: center;
    animation-name: fromRightToLeft;
    $sec: 1;

    &:not(:last-child) {
      border-bottom: 2.5px solid rgba(129, 140, 248, 0.5);
    }

    &:last-child {
      font-size: 2rem;
      text-decoration: none;
      color: red;
      cursor: pointer;
    }

    &:hover {
      transform: translateY(-0.2rem);
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-duration: ($sec + ($i/3)) + s;
      }
    }

    @keyframes fromRightToLeft {
      from {
        transform: translateX(5rem);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    & a {
      font-size: 2rem;
      text-decoration: none;
    }
  }
  @media (max-width: 768px) {
    list-style: none;
    background-color: rgb(255, 255, 255);
    margin-right: -10px;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.1rem;
    $sec: 1;

    &:hover {
      transform: translateY(-0.2rem);
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-duration: ($sec + ($i/3)) + s;
      }
    }

    @keyframes fromRightToLeft {
      from {
        transform: translatey(-1rem);
        opacity: 0;
      }
      to {
        transform: translatey(0);
        opacity: 1;
      }
    }
  }
}
