/* 1. Abstracts and Base (The Foundation) */
@use "variables";
@use "reset";
@use "mixins";

/* 2. Components (Buttons, Cards, Navbar) */
@use "components/buttons";
@use "components/forms";
@use "components/popUpBox";
@use "components/navbar";

/* 3. Pages (The Specific Looks) */
@use "pages/auth";
@use "pages/dashboard";
@use "pages/home";
@use "pages/difficulty";
@use "pages/quiz";
@use "pages/results";

// ... etc
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* Use Inter for almost everything for readability */
  font-family: "Inter", sans-serif;
  background-color: var(--bg-body);
  color: var(--text-main);
}

h1,
h2,
h3,
.logo {
  /* Use Poppins for headings and buttons to give it character */
  font-family: "Poppins", sans-serif;
}

//<link rel="preconnect" href="https://fonts.googleapis.com" />
//<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap");
